@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-between">

        <div class="card col-3" style="width: 18rem;">
          <img class="card-img-top" src="https://assets.tmecosys.com/image/upload/t_web767x639/img/recipe/ras/Assets/5802fab5-fdce-468a-a830-43e8001f5a72/Derivates/c00dc34a-e73d-42f0-a86e-e2fd967d33fe.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Margherita</h5>
            <p class="card-text">descrizione</p>
            <div>Prezzo: 4.50$</div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="card col-3" style="width: 18rem;">
          <img class="card-img-top" src="https://foodandchips.com/wp-content/uploads/2019/02/BFV36537_CC2017_2IngredintDough4Ways-FB.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Diavola</h5>
            <p class="card-text">piccante</p>
            <div>Prezzo: 6.50$</div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="card col-3" style="width: 18rem;">
          <img class="card-img-top" src="https://assets.tmecosys.com/image/upload/t_web767x639/img/recipe/ras/Assets/5802fab5-fdce-468a-a830-43e8001f5a72/Derivates/c00dc34a-e73d-42f0-a86e-e2fd967d33fe.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Wurstel</h5>
            <p class="card-text">buona</p>
            <div>Prezzo: 4.50$</div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        @*prova immagine root*@
        <div class="card col-3" style="width: 18rem;">
          <img class="card-img-top" src="~/img/pizza-prova.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Mortadella</h5>
            <p class="card-text">buona</p>
            <div>Prezzo: 7.50$</div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

    </div>

</div>

